<%= render :partial => 'spree/gestion/shared/product_sub_menu' %>

<%@concerned_taxons.each do |taxon|%>
<h1> <%= taxon.name %> </h1>
<%= render :partial => "product_gestion_block", :locals => { :taxon => taxon } %>
<%end%>