<nav id="top-nav-bar" class="columns omega ten">
  <ul id="nav-bar" class="inline" data-hook>
	<li id="link-to-cart" data-hook><%= generate_cart_link %></li>
    <li id="search-bar" data-hook>
      <%= render :partial => 'spree/shared/search' %>
    </li>
  </ul>
</nav>
