<h4 class="titre_section_acceuil ">nouveautés</h4>
<%= render :partial => 'spree/shared/thumbnail', :locals => { :product => @novelties.first } %>	
<%= render :partial => 'spree/shared/thumbnail', :locals => { :product => @novelties.second } %>	