<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxomenu' %>
  </div>
<% end %>

<div id ="discovery" class="horizontal_three_col">
  <%= render :partial => 'spree/home/discovery', :locals => { :discovery => @discovery } %>
</div>

<div id="novelties" class="horizontal_three_col">
  <%= render :partial => 'spree/home/novelties', :locals => { :novelties => @novelties } %>	
</div>

